<!DOCTYPE HTML>
<!--
	Multiverse by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>EYELINER</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css2/main2.css" />
		<link rel="stylesheet" href="css/style.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	<!-- a failed attempt -->
<!--// <script type="text/javascript">-->
     <!--function goToNewPage()-->
     <!--{-->
     <!--    var url = document.getElementById('submit').value;-->
     <!--    if(url != 'results2.erb') {-->
     <!--        window.location = url;-->
     <!--    }-->
     <!--}-->
 <!--</script>-->
	
	</head>
	<!--<body>-->
	<!--	 <header id="header">-->
	<!--			<header>-->
	<!--					<h1><span style="color:#223D73;">P</span><span style="color:#5E74B2;">P</span><span style="color:#56BFB5;">P</span></h1>-->
	<!--				</header>-->
	<!--			<nav>-->
	<!--				<ul>-->
	<!--					<li><a href="#intro">Intro</a></li>-->
	<!--				</ul>-->
	<!--			</nav>-->
	<!--		</header>-->

		<!-- Wrapper -->
			<div id="wrapper">
				<%= @brand %>

				<!-- Header -->
					<header id="header">
							<!--<a href="http://jai-kode-aadiaaj.c9users.io/">-->
					<h1>
						<span style="color:#223D73;font-size:300%">P</span>
						<span style="color:#5E74B2;font-size:300%">P</span>
						<span style="color:#56BFB5;font-size:300%">P</span>
					</h1>
				<!--</a>-->
				<!--			<a href="http://jai-kode-aadiaaj.c9users.io/">-->
				<!--		<h1><a href="index.html"><strong><span style="color:#223D73;font-size:300%">P</span><span style="color:#5E74B2;font-size:300%">P</span><span style="color:#56BFB5;font-size:300%">P</span></strong></a></h1>-->
				<!--		    </a>-->
						<nav>
							<ul>
								<li><a href="http://jai-kode-aadiaaj.c9users.io/" class="icon fa-info-circle">Main Page</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<article class="thumb">
							<a href="images2/fulls/katvondliner.jpg" class="image"><img src="images2/fulls/katvondliner.jpg" alt="" /></a>
							<h2>Kat Von D Ink Liner</h2>
								<div class="background2">
                            <div class="transbox">
							<h3>SEPHORA</h3>
							<h4>An ultra-rich, felt-tipped liquid pen eyeliner for up to 24 hours of instant drama and effortless, bold definition.</h4>
							<h4>Price: $20.00</h4>
								</div>
                            </div>
						</article>
						
						<article class="thumb">
							<a href="images2/fulls/lashdomination.jpg" class="image"><img src="images2/fulls/lashdomination.jpg" alt="" /></a>
							<h2>Lash Domination Ink Liner</h2>
								<div class="background3">
                            <div class="transbox">
							<h3>BARE MINERALS</h3>
							<h5>Whether you're looking for sleek definition during the day or dramatic looks at night, this long-lasting liquid eyeliner is highly pigmented and easy to use.</h5>
							<h4>Price: $19.00</h4>
								</div>
                            </div>
						</article>
						
						<article class="thumb">
							<a href="images2/fulls/zuzuluxe.jpg" class="image"><img src="images2/fulls/zuzuluxe.jpg" alt="" /></a>
							<h2>Zuzu Luxe Liquid Eyeliner</h2>
								<div class="background4">
                            <div class="transbox">
							<h3>TARGET</h3>
							<h4>Featuring a fine calligraphy tip our quick-drying, water resistant gluten-free liquid liners deliver ultimate precision to line, shape and define your eyes. From classic lines to dramatically winged tips our long-lasting formula stays put from day to night.</h4>
							<h4>Price: $15.99</h4>
								</div>
                            </div>
						</article>
						
						<article class="thumb">
							<a href="images2/fulls/blacktealiner.png" class="image"><img src="images2/fulls/blacktealiner.png" alt="" /></a>
							<h2>Long Last Liquid Eye Liner: Black Tea</h2>
								<div class="background2">
                            <div class="transbox2">
							<h3>100% PURE</h3>
							<h5>Liquid liner richly pigmented from crushed, micronized black tea leaves instead of harsh synthetic dyes. Long lasting, smudge proof for all day wear.</h5>
							<h4>Price: $30.00</h4>
								</div>
                            </div>
						</article>
						
						<article class="thumb">
							<a href="images2/fulls/precisiongel.jpg" class="image"><img src="images2/fulls/precisiongel.jpg" alt="" /></a>
							<h2>Precision Gel Liner</h2>
							<div class="background2">
                            <div class="transbox2">
							<h3>ILLAMASQUA</h3>
							<h5>Creating a smooth, rich black line from the first application, the long-lasting and water-resistant formula is guaranteed to stay in place all day.</h5>
							<h4>Price: $28.00</h4>
							</div>
                            </div>
						</article>
						
						<article class="thumb">
							<a href="images2/fulls/organicgel.jpg" class="image"><img src="images2/fulls/organicgel.jpg" alt="" /></a>
							<h2>Natural & Organic Gel Eyeliner</h2>
								<div class="background2">
                            <div class="transbox">
							<h3>EVIO BEAUTY GROUP</h3>
							<h5>Get the precision of a liquid liner with the strength of a gel-based formula with our all natural gel eyeliner.</h5>
							<h4>Price: $30.00</h4>
								</div>
                            </div>
						</article>
						<ol>
						<li><a href="http://www.sephora.com/ink-liner-P385908">Kat Von D Ink Liner </a></li>
						<li><a href="http://www.bareminerals.com/eye-makeup/eyeliners/lash-domination-ink-liner/US77191.html?gclid=Cj0KEQjw7dfKBRCdkKrvmfKtyeoBEiQAch0egYy30q_Z6lNVFSDuZ_cKpEuod2_XqAYPWks8Vn6Ks94aAuSS8P8HAQ&cm_mmc=g-_-bm-ecom-_-allscreen-_-sb_g_bm-ecom_low_sall_makeup-prod_allages_usa-nat_phrase-bmm&campaign=sb_g_bm-ecom_low_sall_makeup-prod_allages_usa-nat_phrase-bmm&kw=%2Blash%20%2Bdomination%20%2Bliner-b&device=c&gclsrc=aw.ds&adgroup=eyes%20%7C%20lash%20domination%20eyeliner">Lash Domination Ink Liner </a></li>
						<li><a href="https://www.target.com/p/zuzu-luxe-liquid-eyeliner-black-pearl-1-oz/-/A-50174258?ref=tgt_adv_XS000000&AFID=google_pla_df&CPNG=PLA_Health+Beauty+Shopping&adgroup=SC_Health+Beauty&LID=700000001170770pgs&network=g&device=c&location=9031194&gclid=Cj0KEQjw7dfKBRCdkKrvmfKtyeoBEiQAch0egVc7WW1adMqyzLb-XnPHDZFUdfZHgSqbjsjzzDLq_BcaAjMF8P8HAQ&gclsrc=aw.ds">Zuzu Luxe Liquid Eyeliner </a></li>
						<li><a href="https://www.100percentpure.com/products/long-last-liquid-eye-liner-black-tea">Long Last Liquid Eye Liner: Black Tea </a></li>
						<li><a href="http://www.illamasqua.com/precision-gel-liner/">Precision Gel Liner </a></li>
						<li><a href="https://evelyniona.com/products/natural-organic-gel-eyeliner-black">Natural & Organic Gel Eyeliner </a></li>
						</ol>
						
					</div>

				<!-- Footer -->
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section>
									<h2>Magna feugiat sed adipiscing</h2>
									<p>Nulla consequat, ex ut suscipit rutrum, mi dolor tincidunt erat, et scelerisque turpis ipsum eget quis orci mattis aliquet. Maecenas fringilla et ante at lorem et ipsum. Dolor nulla eu bibendum sapien. Donec non pharetra dui. Nulla consequat, ex ut suscipit rutrum, mi dolor tincidunt erat, et scelerisque turpis ipsum.</p>
								</section>
								<section>
									<h2>Follow me on ...</h2>
									<ul class="icons">
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
										<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
										<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
									</ul>
								</section>
								<p class="copyright">
									&copy; Unttled. Design: <a href="http://html5up.net">HTML5 UP</a>.
								</p>
							</div>
							<div>
								<section>
									<h2>Get in touch</h2>
									<form method="post" action="#">
										<div class="field half first">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="field half">
											<input type="text" name="email" id="email" placeholder="Email" />
										</div>
										<div class="field">
											<textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Send" class="special" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</form>
								</section>
							</div>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="js2/jquery.min.js"></script>
			<script src="js2/jquery.poptrox.min.js"></script>
			<script src="js2/skel.min.js"></script>
			<script src="js2/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="js2/main.js"></script>

	</body>
</html>