<!DOCTYPE HTML>
<!--
	Multiverse by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>CONCEALER</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css2/main2.css" />
		<link rel="stylesheet" href="css/style.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	
	<body>
	<!--	 <header id="header">-->
	<!--			<header>-->
	<!--					<h1><span style="color:#223D73;">P</span><span style="color:#5E74B2;">P</span><span style="color:#56BFB5;">P</span></h1>-->
	<!--				</header>-->
	<!--			<nav>-->
	<!--				<ul>-->
	<!--					<li><a href="#intro">Intro</a></li>-->
	<!--				</ul>-->
	<!--			</nav>-->
	<!--		</header>-->

		<!-- Wrapper -->
			<div id="wrapper">
				<%= @brand %>

				<!-- Header -->
					<header id="header">
							<!--<a href="http://jai-kode-aadiaaj.c9users.io/">-->
					<h1>
						<span style="color:#223D73;font-size:300%">P</span>
						<span style="color:#5E74B2;font-size:300%">P</span>
						<span style="color:#56BFB5;font-size:300%">P</span>
					</h1>
				<!--</a>-->
				<!--			<a href="http://jai-kode-aadiaaj.c9users.io/">-->
				<!--		<h1><a href="index.html"><strong><span style="color:#223D73;font-size:300%">P</span><span style="color:#5E74B2;font-size:300%">P</span><span style="color:#56BFB5;font-size:300%">P</span></strong></a></h1>-->
				<!--		    </a>-->
						<nav>
							<ul>
								<li><a href="http://jai-kode-aadiaaj.c9users.io/" class="icon fa-info-circle">Main Page</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<article class="thumb">
							<a href="images2/fulls/tarteshapetape.jpg" class="image"><img src="images2/fulls/tarteshapetape.jpg" alt="" /></a>
							<h2>Tarte: Shape Tape</h2>
							<h3>ULTA</h3>
							<p>This concealer is long-wearing, hydrating and very well-loved.</p>
							<p>Price: $25.00</p>
						</article>
						
						<article class="thumb">
							<a href="images2/fulls/concealerSecondOption.jpg" class="image"><img src="images2/fulls/concealerSecondOption.jpg" alt="" /></a>
							<h2>NARS: Soft Matte Complete Concealer</h2>
							<h3>ULTA</h3>
							<p>This concealer has a thick creamy consistency with a matte finish. It is also oil-free yet non-drying, making it an excellent option for people that struggle with concealer creasing.</p>
							<p>Price: $30.00</p>
						</article>
						
						<article class="thumb">
							<a href="images2/fulls/concealerThirdOption.jpg" class="image"><img src="images2/fulls/concealerThirdOption.jpg" alt="" /></a>
							<h2>Katt Von D: Lock-It Concealer Cream</h2>
							<h3>SEPHORA</h3>
							<p>This concealer is long-lasting, highly-pigmented, and can double as an eyeshadow primer.</p>
							<p>Price: $26.00</p>
						</article>
						
						<article class="thumb">
							<a href="images2/fulls/narsradiant.jpg" class="image"><img src="images2/fulls/narsradiant.jpg" alt="" /></a>
							<h2>NARS: Radiant Creamy Concealer</h2>
							<h3>SEPHORA</h3>
							<p>This concealer starts off “radiant” but eventually dries down to a more matte finish, without clinging to dry patches.</p>
							<p>Price: $30.00</p>
						</article>
						
						<article class="thumb">
							<a href="images2/fulls/concealerFifthOption.jpg" class="image"><img src="images2/fulls/concealerFifthOption.jpg" alt="" /></a>
							<h2>Marc Jacobs: Re(Marc)able Full Cover Concealer</h2>
							<h3>MARC JACOBS BEAUTY</h3>
							<p>This concealer has a creamy texture and is also infused with antiaging and nourishing ingredients. Which makes it great for keeping skin hydrated.</p>
							<p>Price: $32.00</p>
						</article>
						
						<article class="thumb">
							<a href="images2/fulls/concealerSixthOption.png" class="image"><img src="images2/fulls/concealerSixthOption.png" alt="" /></a>
							<h2>Wet N Wild: Photo Focus Concealer</h2>
							<h3>WET N WILD</h3>
							<p>This concealer has widening the shade range on both ends of the spectrum, and is also under 4 dollars!</p>
							<p>$3.99</p>
						</article>
						<ol>
							<div id="productLinks">
						<li><a href="http://www.ulta.com/double-duty-beauty-shape-tape-contour-concealer?productId=xlsImpprod14251035&cmpid=PS_Non!google!PrestCos_Tarte_TF&CAWELAID=330000200000682098&CAPCID=104850216990&cadevice=c&agid=30869807790&catci=aud-168420893550:kwd-186156358830&gclid=CjwKCAjw7dfKBRAdEiwAch0egSdeDBvc9da8Cs3XPBGbrc8QpA66jBUHgh57_ZhuGzQkuO6R2xPeUhoCqZIQAvD_BwE" >Tarte: Shape Tape</a></li>
						<li><a href="http://www.ulta.com/soft-matte-complete-concealer?productId=xlsImpprod15692183&cmpid=PS_Non!google!PrestCos_NARS&CAWELAID=330000200001147986&CAPCID=190103731661&cadevice=c&agid=39916130525&catci=aud-297714761031:kwd-275098962696&gclid=CjwKCAjw7dfKBRAdEiwAch0egS6aux1eIsK1-YxO1SV0HCVRREhIrqcy2eNhGAbtob2yo--pMTm7QxoCsRUQAvD_BwE">Nars: Soft Matte Complete Concealer </a></li>
						<li><a href="http://www.sephora.com/lock-it-concealer-creme-P409985">Kat Von D Lock-It Concealer Cream</a></li>
					    <li><a href="http://www.sephora.com/radiant-creamy-concealer-P377873?skuId=1478403&icid2=products%20grid:p377873">Nars: Radiant Creamy Concealer</a></li>
						<li><a href="http://www.marcjacobsbeauty.com/remarcable-concealer/full-cover-concealer/16950.html?gclid=CjwKCAjw7dfKBRAdEiwAch0egcxC0rhnJIe-DvYxDobnCBZpN9mGBjMEFdQLAenS9TkWiS-gkLHPKRoCcrsQAvD_BwE">Marc Jacobs: Re(marc)able Full Cover Concealer </a></li>
						<li><a href="http://www.wetnwildbeauty.com/new/photo-focus-concealer.html">Wet n Wild Photo Focus Concealer </a></li>
							</div>
						</ol>
					</div>
					

				<!-- Footer -->
			<!--		<footer id="footer" class="panel">-->
			<!--			<div class="inner split">-->
			<!--				<div>-->
			<!--					<section>-->
			<!--						<h2>Magna feugiat sed adipiscing</h2>-->
			<!--						<p>Nulla consequat, ex ut suscipit rutrum, mi dolor tincidunt erat, et scelerisque turpis ipsum eget quis orci mattis aliquet. Maecenas fringilla et ante at lorem et ipsum. Dolor nulla eu bibendum sapien. Donec non pharetra dui. Nulla consequat, ex ut suscipit rutrum, mi dolor tincidunt erat, et scelerisque turpis ipsum.</p>-->
			<!--					</section>-->
			<!--					<section>-->
			<!--						<h2>Follow me on ...</h2>-->
			<!--						<ul class="icons">-->
			<!--							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>-->
			<!--							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>-->
			<!--							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>-->
			<!--							<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>-->
			<!--							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>-->
			<!--							<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>-->
			<!--						</ul>-->
			<!--					</section>-->
								
			<!--					<p class="copyright">-->
			<!--						&copy; Unttled. Design: <a href="http://html5up.net">HTML5 UP</a>.-->
			<!--					</p>-->
			<!--				</div>-->
			<!--				<div>-->
			<!--					<section>-->
			<!--						<h2>Get in touch</h2>-->
			<!--						<form method="post" action="#">-->
			<!--							<div class="field half first">-->
			<!--								<input type="text" name="name" id="name" placeholder="Name" />-->
			<!--							</div>-->
			<!--							<div class="field half">-->
			<!--								<input type="text" name="email" id="email" placeholder="Email" />-->
			<!--							</div>-->
			<!--							<div class="field">-->
			<!--								<textarea name="message" id="message" rows="4" placeholder="Message"></textarea>-->
			<!--							</div>-->
			<!--							<ul class="actions">-->
			<!--								<li><input type="submit" value="Send" class="special" /></li>-->
			<!--								<li><input type="reset" value="Reset" /></li>-->
			<!--							</ul>-->
			<!--						</form>-->
			<!--					</section>-->
			<!--				</div>-->
			<!--			</div>-->
			<!--		</footer>-->

			<!--</div>-->

		<!-- Scripts -->
			<script src="js2/jquery.min.js"></script>
			<script src="js2/jquery.poptrox.min.js"></script>
			<script src="js2/skel.min.js"></script>
			<script src="js2/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="js2/main.js"></script>

	</body>
</html>